<div class="tong" style="background-color: red">
  <div class="box">
    <div class="box-form">
      <div class="box-login-tab"></div>
      <div class="box-login-title">
        <div class="i i-login"></div>
        <h2>LOGIN</h2>
      </div>
      <div class="box-login">
        <form [formGroup]="form">
          <div class="fieldset-body" id="login_form">
            <button class="b b-form i i-more" title="Info"></button>
            <p class="field">
              <label for="user">TÀI KHOẢN</label>
              <input
                type="text"
                id="username"
                name="username"
                formControlName="username"
                title="Username"
              />
              <span id="valida" class="i i-warning"></span>
            </p>
            <p class="field">
              <label for="pass">MẬT KHẨU</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                placeholder="Nhập mật khẩu"
                title="Password"
              />
              <span id="valida" class="i i-close"></span>
            </p>

            <input
              type="submit"
              id="do_login"
              value="ĐĂNG NHẬP"
              title="ĐĂNG NHẬP"
              (click)="onSubmit()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
