<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Danh sách loại phòng</h1>
        </div>
        <ngx-spinner bdColor="rgba(1.5, 0, 0, 1)"
            template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />">
        </ngx-spinner>
        <!-- Content Row -->
        <!-- The Modal -->
        

        
        <div class="row">
            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                    <!--Modal: modalPush-->
                    <table id="example" class="table text-left text-center" style="font-size: small">
                        <thead>
                            <tr>
                                <th>Số phòng</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of rooms; index as i">
                                <td>{{ r.numberRoom }}</td>
                                
                                <td>
                                    <select (change)="updateEnable(r)">
                                        <option value="HOẠT ĐỘNG TỐT" [selected]="r.enable">
                                            HOẠT ĐỘNG TỐT
                                        </option>
                                        <option value="ĐANG SỬA CHỮA" [selected]="!r.enable">
                                            ĐANG SỬA CHỮA
                                        </option>
                                    </select>
                                </td>
                                
                            </tr>
                        </tbody>
                       
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>